@using ViewModel_Fun.Models
@model Message

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Here is a message!</h1>
    <p>string here:</p>
    <p>
        @Model.MOTD
    </p>
    
</div>
