<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Home</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="projects">Projects <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="contact">Contact</a>
                    </div>
                </div>
            </nav>

        </div>
        <div class="col"></div>
    </div>
     <div class="row " style="height: 100px;">
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8" style="text-align: center;">
            <h3>Contact Me</h3>
        </div>
        <div class="col"></div>

    </div>
    <div class="row " style="height: 100px;">
        <div class="col"></div>
    </div>
    <form action="">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <label for="name">name</label>
                <input type="text" name="name" id=""><br>
                <label for="email">email</label>
                <input type="email" name="email" id="">
            </div>
            <div class="col">
                <label for="message">message</label>
                <textarea name="message" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col">
                <button>send</button>
            </div>
            <div class="col"></div>
        </div>
    </form>
</body>
</html>